<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>런드벤처</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>rundventure</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.1026297463439-p0m5skj59otaodmjvd2sub9bun9jkuq9</string>
					<string>com.rundventure.login</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSExceptionDomains</key>
			<dict>
				<key>firebaseio.com</key>
				<dict>
					<key>NSIncludesSubdomains</key>
					<true/>
					<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
					<true/>
				</dict>
				<key>googleapis.com</key>
				<dict>
					<key>NSIncludesSubdomains</key>
					<true/>
					<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
					<true/>
				</dict>
				<key>googleusercontent.com</key>
				<dict>
					<key>NSIncludesSubdomains</key>
					<true/>
					<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
					<true/>
				</dict>
				<key>identitytoolkit.googleapis.com</key>
				<dict>
					<key>NSIncludesSubdomains</key>
					<true/>
					<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
					<true/>
				</dict>
				<key>securetoken.googleapis.com</key>
				<dict>
					<key>NSIncludesSubdomains</key>
					<true/>
					<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>NSCameraUsageDescription</key>
		<string>이 앱은 카메라 기능을 사용하기 위해 접근 권한이 필요합니다.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>프로필 사진을 앨범에서 선택하거나 게시물에 사진을 첨부하기 위해 사진첩 접근이 필요합니다.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>이 앱은 백그라운드에서도 위치를 사용합니다.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>이 앱은 위치 기반 기능을 위해 사용자의 위치 접근이 필요합니다.</string>
		<key>NSMotionUsageDescription</key>
		<string>이 앱은 운동 기록 및 피트니스 데이터를 사용하기 위해 동작 및 피트니스 권한이 필요합니다.</string>
		<key>NSHealthShareUsageDescription</key>
		<string>운동 기록을 Apple 건강 앱과 공유하기 위해 권한이 필요합니다.</string>
		<key>NSHealthUpdateUsageDescription</key>
		<string>달리기 기록을 Apple 건강 앱에 저장하기 위해 권한이 필요합니다.</string>
		<key>NSSupportsLiveActivities</key>
		<true/>
		<key>NSUserActivityTypes</key>
		<array>
			<string>com.apple.activity.running</string>
		</array>
		<key>NSUserNotificationAlertUsageDescription</key>
		<string>이 앱은 알림 기능을 위해 권한이 필요합니다.</string>
		<key>SignInWithApple</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIBackgroundModes</key>
		<array>
			<string>location</string>
			<string>fetch</string>
			<string>remote-notification</string>
			<string>audio</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>io.flutter.embedded_views_preview</key>
		<true/>
		<key>ITSAppUsesNonExemptEncryption</key>
		<false/>
		<key>UIStatusBarHidden</key>
		<false/>
	</dict>
</plist>
